* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    color: $content;
}

body {
    background-color: $primary-color;
}

a {
    text-decoration: none;
}

i {
    overflow: hidden;
}

nav ul li a.current {
    font-weight: bold;
}

span {
    &.m {
        font-weight: 500;
    }

    &.required {
        color: rgb(153, 71, 71);
        margin-left: .5rem;
    }
}

p {
    line-height: 1.5rem;
}


.title {
    margin: 2rem 0;
    font-weight: bold;
    font-size: 1.2rem;
}

.swal-button {
    background-color: #C5DDED;
    color: $gray;
    border-radius: 10px;

    &:hover,
    &:active {
        background-color: #C5DDED;
        color: $gray;
        font-weight: bold;
    }
}