* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    color: $content;
}

body {
    background-color: $primary-color;
}

a {
    text-decoration: none;
}

i {
    overflow: hidden;
}

nav ul li a.current {
    font-weight: bold;
}

span {
    &.m {
        font-weight: 500;
    }

    &.required {
        color: rgb(153, 71, 71);
        margin-left: .5rem;
    }
}

p {
    line-height: 1.5rem;
}


.title {
    margin: 2rem 0;
    font-weight: bold;
    font-size: 1.2rem;
}

.deco {
    width: 20rem;
    z-index: -10;
    position: absolute;
}

.deco_port {
    left: -10rem;

    @include medBreakpoint {
        top: 80rem;
    }

    @include smBreakpoint {
        top: 66rem;
    }
}

.deco_cont {
    width: 8rem;
    top: 185rem;
    right: 0;
}

.deco_foo {
    position: relative;
    width: 15rem;
    margin-top: 1rem;
    margin-bottom: -4.3rem;
    margin-left: calc(50% - (15rem / 2));
}

.swal-button {
    background-color: #C5DDED;
    color: $gray;
    border-radius: 10px;

    &:hover,
    &:active {
        background-color: #C5DDED;
        color: $gray;
        font-weight: bold;
    }
}