@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

section {
  margin: 15vh auto;
}
@media screen and (max-width: 1150px) {
  section {
    margin: 10vh auto;
  }
}

.divider {
  border: 1px solid rgba(191, 191, 191, 0.8);
}

.required {
  margin-left: 0.2rem;
  font-weight: 500;
  color: #e25e46;
}

.lateral-menu__container {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 4.5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 0px 4px rgba(146, 146, 146, 0.15);
  transition: left 0.2s;
  background-color: white;
}
.lateral-menu__container .lateral-menu {
  height: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.lateral-menu__container .lateral-menu .logo {
  width: 2.5rem;
}
.lateral-menu__container .lateral-menu .lateral-menu__icons {
  display: flex;
  flex-direction: column;
}
.lateral-menu__container .lateral-menu .lateral-menu__icons ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.lateral-menu__container .lateral-menu .lateral-menu__icons ul li:not(:first-child) {
  margin-top: 1rem;
}
.lateral-menu__container .lateral-menu .lateral-menu__icons ul li a {
  font-size: 1.2rem;
  color: black;
}
@media screen and (max-width: 1150px) {
  .lateral-menu__container {
    display: none;
  }
}

.header__container {
  width: 100%;
  height: 12%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 10;
}
.header__container.header-onScroll {
  box-shadow: 0 4px 4px rgba(146, 146, 146, 0.15);
  transition: 0.4s;
}
.header__container header {
  width: 100%;
}
.header__container header .hamburger-container {
  position: absolute;
  display: none;
}
.header__container header .header__items-container {
  width: 70%;
  height: auto;
  margin: auto;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__container header .header__items-container nav ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}
.header__container header .header__items-container nav ul li {
  display: inline-block;
  font-size: 0.9rem;
  letter-spacing: -1px;
}
.header__container header .header__items-container nav ul li a {
  font-weight: 600;
  color: #000000;
  text-decoration: none;
}
.header__container header .header__items-container nav ul li a.current {
  font-weight: 800;
}
.header__container header .header__items-container nav ul li:not(:first-child) {
  margin-left: 2rem;
}
.header__container header .header__items-container .nav__downloadCV {
  padding: 0.4rem 1.2rem;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}
.header__container header .header__items-container .nav__downloadCV a {
  font-size: 0.8rem;
  color: #000000;
  text-decoration: none;
}
.header__container header .header__items-container .nav__downloadCV a i {
  margin-left: 0.2rem;
}
.header__container header .header__items-container .nav__downloadCV:hover {
  background-color: #d2d2d2;
  transition: 0.5s;
}
@media screen and (max-width: 1150px) {
  .header__container header .hamburger-container {
    display: block;
    top: 2.1rem;
    left: 6rem;
    cursor: pointer;
    z-index: 10;
  }
  .header__container header .hamburger-container .hamburger {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header__container header .hamburger-container .hamburger-line {
    width: 30px;
    height: 3px;
    background-color: #333;
    transition: transform 0.3s, opacity 0.3s;
  }
  .header__container header .header__items-container nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -300px;
    right: 0;
    background-color: #ffffff;
    transition: top 0.3s;
  }
  .header__container header .header__items-container nav.active {
    top: 0;
    width: 100%;
    height: 100%;
  }
  .header__container header .header__items-container nav ul {
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .header__container header .header__items-container nav ul li:not(:first-child) {
    margin-top: 1rem;
    margin-left: 0;
  }
  .header__container header .header__items-container .nav__downloadCV {
    position: absolute;
    right: 5rem;
    z-index: -1;
  }
}
@media screen and (max-width: 1150px) and (max-width: 580px) {
  .header__container header .header__items-container .nav__downloadCV {
    right: 2rem;
  }
}
@media screen and (max-width: 1150px) {
  .header__container header .hamburger-container {
    display: block;
    position: absolute;
    top: 1.6rem;
    left: 6rem;
    cursor: pointer;
    z-index: 10;
  }
}

.hero {
  width: 70%;
  height: 88vh;
  margin: auto;
  display: flex;
  align-items: center;
}
.hero .hero__text-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.hero .hero__text-container span {
  font-size: 1.25rem;
}
.hero .hero__text-container span.bold {
  font-weight: 700;
}
.hero .hero__text-container img {
  margin-top: -1rem;
  width: 18rem;
}
.hero .hero__text-container .position {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  letter-spacing: 0.12rem;
  word-spacing: 0.5rem;
}
@media screen and (max-width: 1150px) {
  .hero .hero__text-container {
    margin: auto;
  }
  .hero .hero__text-container span {
    font-size: 1.2rem;
  }
  .hero .hero__text-container span.bold {
    left: 3.5rem;
  }
  .hero .hero__text-container img {
    margin-top: -1.5rem;
    width: 20rem;
  }
  .hero .hero__text-container .position {
    margin-top: 0.5rem;
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 580px) {
  .hero {
    width: 90%;
  }
  .hero .hero__text-container {
    margin: auto;
  }
  .hero .hero__text-container span {
    font-size: 1.2rem;
  }
  .hero .hero__text-container span.bold {
    left: 3.5rem;
  }
  .hero .hero__text-container img {
    width: 15.5rem;
  }
  .hero .hero__text-container .position {
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }
}

.info {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}
.info .bold__info {
  font-weight: 700;
  display: block;
}
@media screen and (max-width: 580px) {
  .info {
    width: 85%;
  }
  .info span {
    font-size: 0.78rem;
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.about .about-me__container {
  width: 85%;
  margin: 25vh auto;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
}
.about .about-me__container .about__img {
  background-image: url(../../assets/about-img.jpg);
  height: 23rem;
  width: 40%;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 1rem;
  z-index: -10;
}
.about .about-me__container .about-decoration {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  z-index: -1;
  left: 35%;
  top: 160vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 4px rgba(173, 173, 173, 0.15);
}
.about .about-me__container .about-decoration .wave {
  width: 50%;
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}
.about .about-me__container .about__text-container {
  width: 45%;
}
.about .about-me__container .about__text-container h2 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0;
}
.about .about-me__container .about__text-container p {
  font-size: 0.95rem;
  margin-top: 1rem;
  margin-bottom: 0;
}
@media screen and (max-width: 1150px) {
  .about .about-me__container {
    flex-direction: column;
    margin: 10vh auto;
  }
  .about .about-me__container .about__img {
    display: none;
  }
  .about .about-me__container .about-decoration {
    display: none;
  }
  .about .about-me__container .about__text-container {
    width: 80%;
    text-align: center;
    margin: 3rem auto 2rem;
  }
}
@media screen and (max-width: 950px) {
  .about .about-me__container .about__text-container {
    width: 80%;
  }
  .about .about-me__container .about__text-container p {
    text-align: justify;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 580px) {
  .about .about-me__container {
    width: 90%;
  }
  .about .about-me__container .about__text-container {
    width: 90%;
  }
  .about .about-me__container .about__text-container p {
    text-align: justify;
  }
}
.about .tech-stack {
  width: fit-content;
  margin: auto;
  display: flex;
  align-items: center;
}
.about .tech-stack h3 {
  width: fit-content;
  font-size: 1.17rem;
  font-weight: 700;
}
.about .tech-stack .divider {
  height: 2rem;
  margin: 0 2rem;
}
.about .tech-stack .stack__items-container {
  display: flex;
  align-items: center;
}
.about .tech-stack .stack__items-container .stack-item {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 4px 4px 4px rgba(173, 173, 173, 0.15);
}
.about .tech-stack .stack__items-container .stack-item:not(:first-child) {
  margin-left: 1.5rem;
}
.about .tech-stack .stack__items-container .stack-item img {
  width: 50%;
}
@media screen and (max-width: 1150px) {
  .about .tech-stack {
    flex-direction: column;
  }
  .about .tech-stack .divider {
    display: none;
  }
  .about .tech-stack .stack__items-container {
    margin: 2rem 0;
  }
  .about .tech-stack .stack__items-container .stack-item:not(:first-child) {
    margin-left: 2.5rem;
  }
}
@media screen and (max-width: 950px) {
  .about .tech-stack .stack__items-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }
  .about .tech-stack .stack__items-container .stack-item:not(:first-child) {
    margin-left: 0;
  }
}
@media screen and (max-width: 580px) {
  .about .tech-stack .stack__items-container {
    gap: 1rem;
  }
  .about .tech-stack .stack__items-container .stack-item {
    width: 3.5rem;
    height: 3.5rem;
  }
}

.education {
  background-color: #f9f9f9;
  padding: 3rem 0;
}
.education h3 {
  width: fit-content;
  margin: auto;
  font-size: 1.17rem;
  font-weight: 700;
}
.education .education__cards-container {
  width: 80%;
  margin: auto;
}
.education .education__cards-container .education__card {
  height: fit-content;
  width: 90%;
  padding: 1.5rem;
  margin: 2rem auto;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(173, 173, 173, 0.15);
}
.education .education__cards-container .education__card img {
  width: 5rem;
}
.education .education__cards-container .education__card .education-card__text-container {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
}
.education .education__cards-container .education__card .education-card__text-container .card__title {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 0.2rem;
}
.education .education__cards-container .education__card .education-card__text-container .card__subtitle {
  font-weight: 600;
  margin-bottom: 0.2rem;
}
.education .education__cards-container .education__card .education-card__text-container p {
  margin-bottom: 0;
}
@media screen and (max-width: 950px) {
  .education .education__cards-container .education__card {
    width: 100%;
  }
  .education .education__cards-container .education__card img {
    display: none;
  }
  .education .education__cards-container .education__card .education-card__text-container {
    margin-left: 0;
    font-size: 0.8rem;
  }
  .education .education__cards-container .education__card .education-card__text-container .card__title {
    font-size: 1rem;
  }
}
@media screen and (max-width: 580px) {
  .education .education__cards-container .education__card {
    margin: 1rem auto;
  }
}
@media screen and (max-width: 1150px) {
  .education .education__cards-container {
    width: 90%;
  }
}

.courses h3 {
  width: fit-content;
  margin: auto;
  font-size: 1.17rem;
  font-weight: bold;
}

.carousel {
  width: 70%;
  margin: 2rem auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel .carousel-inner {
  width: fit-content;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.carousel .carousel-inner .carousel-item > img {
  width: 100%;
  max-height: 25rem;
  object-fit: contain;
}
@media screen and (max-width: 580px) {
  .carousel {
    width: 90%;
  }
}

.carousel-indicators {
  margin-top: 2rem;
  position: relative !important;
  top: auto !important;
  right: auto !important;
  bottom: auto !important;
  left: auto !important;
}
.carousel-indicators [data-bs-target] {
  background-color: #373737;
}

.portfolio {
  background-color: #f9f9f9;
  padding: 3rem 0;
}
.portfolio h2 {
  width: fit-content;
  margin: auto;
  font-size: 1.2rem;
  font-weight: 700;
}
.portfolio .projects-container {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: self-start;
}
.portfolio .projects-container .project {
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: auto;
  background-color: white;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
.portfolio .projects-container .project:not(:first-child) {
  margin-top: 2rem;
}
.portfolio .projects-container .project .project__image {
  width: 65%;
  height: 22rem;
  object-fit: cover;
  object-position: 50% 0;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
  transition: object-position ease-in-out 5s;
}
.portfolio .projects-container .project .project__image:hover {
  object-position: 50% 100%;
}
.portfolio .projects-container .project .project__right-container {
  width: 30%;
  font-size: 0.9rem;
}
.portfolio .projects-container .project .project__right-container .project__title {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 1rem 0;
}
.portfolio .projects-container .project .project__right-container .project__description {
  margin-top: 0.3rem;
}
.portfolio .projects-container .project .project__right-container .stack {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  cursor: pointer;
}
.portfolio .projects-container .project .project__right-container .stack span {
  font-weight: 0.7rem;
  width: fit-content;
  margin: 0.5rem 0.5rem 0 0;
  padding: 0.5rem 0.9rem;
  font-weight: 500;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.portfolio .projects-container .project .project__right-container .visit-project {
  width: fit-content;
  margin: 2rem auto;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}
.portfolio .projects-container .project .project__right-container .visit-project a {
  color: #000000;
  text-decoration: none;
}
.portfolio .projects-container .project .project__right-container .visit-project .live-demo {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  font-size: 0.8rem;
  margin-left: 1rem;
}
.portfolio .projects-container .project .project__right-container .visit-project .live-demo:hover {
  background-color: #d2d2d2;
}
@media screen and (max-width: 1150px) {
  .portfolio .projects-container .project {
    height: fit-content;
    flex-direction: column;
  }
  .portfolio .projects-container .project .project__image {
    width: 100%;
    height: 15rem;
  }
  .portfolio .projects-container .project .project__right-container {
    text-align: center;
    width: 90%;
    margin: 1.2rem auto;
  }
  .portfolio .projects-container .project .project__right-container .project__title {
    font-size: 1.3rem;
    margin: 1.5rem auto;
  }
  .portfolio .projects-container .project .project__right-container .project__description,
  .portfolio .projects-container .project .project__right-container .stack {
    width: 80%;
  }
  .portfolio .projects-container .project .project__right-container .project__description {
    margin: 1.2rem auto;
  }
  .portfolio .projects-container .project .project__right-container .stack {
    margin: 0 auto 2rem;
  }
  .portfolio .projects-container .project .project__right-container .visit-project {
    margin: 0 auto;
  }
}
@media screen and (max-width: 950px) {
  .portfolio .projects-container .project .project__right-container .project__description,
  .portfolio .projects-container .project .project__right-container .stack {
    width: 90%;
  }
}
@media screen and (max-width: 580px) {
  .portfolio .projects-container .project .project__right-container .project__description,
  .portfolio .projects-container .project .project__right-container .stack {
    font-size: 0.8rem;
  }
  .portfolio .projects-container .project .project__right-container .project__description {
    width: 100%;
  }
  .portfolio .projects-container .project .project__right-container .stack {
    width: 80%;
  }
}
@media screen and (max-width: 580px) {
  .portfolio .projects-container {
    width: 90%;
  }
}

#contact {
  margin-bottom: 1rem;
}
#contact h2 {
  width: fit-content;
  margin: auto;
  font-size: 1.17rem;
  font-weight: 700;
}
#contact .form__container {
  width: 80%;
  margin: auto;
}
#contact .form__container form fieldset {
  border: 0;
}
#contact .form__container form fieldset:first-of-type {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#contact .form__container form fieldset .field {
  margin: 2rem 0 0.5rem;
}
#contact .form__container form fieldset .field .input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: 2px solid #f8f8f8;
  border-radius: 5px 20px 20px 20px;
  width: 80%;
  font-size: 12px;
  display: flex;
  align-items: center;
}
#contact .form__container form fieldset .field .input i {
  color: #929292;
}
#contact .form__container form fieldset .field .input input {
  width: 100%;
  margin: 0 1rem;
  outline: none;
  border: none;
}
#contact .form__container form fieldset label {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.5px;
}
#contact .form__container form fieldset #mensaje {
  min-width: 100%;
  height: 14.5rem;
  padding: 2rem;
  border-radius: 0 3rem 3rem 3rem;
  font-size: 14px;
  outline: none;
  border: none;
  background-color: #f8f8f8;
  margin: 1rem 0;
  resize: none;
}
#contact .form__container form fieldset #mensaje::placeholder {
  position: absolute;
}
@media screen and (max-width: 580px) {
  #contact .form__container form fieldset #mensaje {
    width: 80%;
  }
}
@media screen and (max-width: 1150px) {
  #contact .form__container form fieldset:first-of-type {
    display: flex;
    flex-direction: column;
  }
  #contact .form__container form fieldset .field {
    margin: 0;
  }
  #contact .form__container form fieldset .field .input {
    width: 100%;
  }
  #contact .form__container form fieldset #mensaje {
    height: 20vh;
  }
}
#contact .form__container form .cta__container {
  width: fit-content;
  margin: auto;
}
#contact .form__container form .cta__container button.cta {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 5px;
}
#contact .form__container form .cta__container button.cta i {
  margin-left: 1rem;
}
#contact .form__container form .cta__container button.cta:hover {
  transition: 0.5s;
  background-color: #d2d2d2;
}

footer {
  width: 100%;
  height: 10vh;
  background-color: #f9f9f9;
  font-weight: 700;
  letter-spacing: -1px;
  display: flex;
}
footer .footer-container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-container .footer__social-container {
  display: flex;
}
footer .footer-container .footer__social-container ul {
  list-style: none;
  margin-bottom: 0;
}
footer .footer-container .footer__social-container ul li {
  display: inline-block;
}
footer .footer-container .footer__social-container ul li:not(:first-child) {
  margin-left: 1rem;
}
footer .footer-container .footer__social-container ul li a {
  color: #000000;
  font-size: 1.2rem;
}

/*# sourceMappingURL=styles.css.map */
