* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  color: #0C3559;
}

body {
  background-color: #fffaf1;
}

a {
  text-decoration: none;
}

i {
  overflow: hidden;
}

nav ul li a.current {
  font-weight: bold;
}

span.m {
  font-weight: 500;
}
span.required {
  color: rgb(153, 71, 71);
  margin-left: 0.5rem;
}

p {
  line-height: 1.5rem;
}

.title {
  margin: 2rem 0;
  font-weight: bold;
  font-size: 1.2rem;
}

.swal-button {
  background-color: #C5DDED;
  color: #DEE5EA;
  border-radius: 10px;
}
.swal-button:hover, .swal-button:active {
  background-color: #C5DDED;
  color: #DEE5EA;
  font-weight: bold;
}

.header__container {
  width: 100%;
  height: 12%;
  background-color: #fffaf1;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 10;
  box-shadow: 0 2px 2px rgba(146, 146, 146, 0.1);
  transition: 0.4s;
}
.header__container header {
  width: 100%;
}
.header__container header .hamburger-container {
  position: absolute;
  display: none;
}
.header__container header .hamburger-container input#burger {
  display: none;
}
.header__container header .hamburger-container input#burger:checked + label[for=burger] span:first-child {
  opacity: 1;
  transform: rotate(45deg) translate(7px, 7px);
}
.header__container header .hamburger-container input#burger:checked + label[for=burger] span:nth-child(2) {
  opacity: 0;
}
.header__container header .hamburger-container input#burger:checked + label[for=burger] span:last-child {
  opacity: 1;
  transform: rotate(-45deg) translate(1.5px, -3px);
}
.header__container header .hamburger-container label[for=burger] {
  position: fixed;
  height: 20px;
  width: 20px;
  z-index: 5;
  overflow: hidden;
}
.header__container header .hamburger-container label[for=burger] .hamburger-line {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: #0C3559;
  transition: 0.5s;
}
.header__container header .hamburger-container label[for=burger] .hamburger-line:first-child {
  top: 3px;
}
.header__container header .hamburger-container label[for=burger] .hamburger-line:last-child {
  top: 16px;
}
.header__container header .hamburger-container label[for=burger]:hover {
  cursor: pointer;
}
.header__container header .header__items-container {
  width: 80%;
  height: auto;
  margin: auto;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__container header .header__items-container div {
  display: flex;
  align-items: center;
}
.header__container header .header__items-container div:first-of-type img {
  width: 1.2rem;
  margin-right: 1rem;
}
@media screen and (max-width: 1150px) {
  .header__container header .header__items-container div:first-of-type img {
    display: none;
  }
  .header__container header .header__items-container div:first-of-type span {
    margin-left: 2.5rem;
  }
}
@media screen and (max-width: 1150px) and (max-width: 950px) {
  .header__container header .header__items-container div:first-of-type span {
    margin-left: 0.5rem;
  }
}
@media screen and (max-width: 1150px) and (max-width: 580px) {
  .header__container header .header__items-container div:first-of-type span {
    display: none;
  }
}
.header__container header .header__items-container div:last-of-type nav ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}
.header__container header .header__items-container div:last-of-type nav ul li {
  display: inline-block;
  font-size: 0.9rem;
  letter-spacing: -1px;
}
.header__container header .header__items-container div:last-of-type nav ul li a {
  font-weight: 500;
  color: #0C3559;
  text-decoration: none;
  padding-right: 0.1rem;
}
.header__container header .header__items-container div:last-of-type nav ul li a.current {
  font-weight: bold;
}
.header__container header .header__items-container div:last-of-type nav ul li:not(:first-child) {
  margin-left: 2rem;
}
.header__container header .header__items-container div:last-of-type .nav__downloadCV {
  padding: 0.4rem 1.2rem;
  margin-left: 2rem;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #DEE5EA;
  transition: 350ms ease-in-out;
}
.header__container header .header__items-container div:last-of-type .nav__downloadCV a {
  font-size: 0.8rem;
  font-weight: 500;
  color: #0C3559;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.header__container header .header__items-container div:last-of-type .nav__downloadCV a i {
  margin-left: 0.8rem;
}
.header__container header .header__items-container div:last-of-type .nav__downloadCV:hover {
  background-color: #EBEBEB;
}
@media screen and (max-width: 1150px) {
  .header__container header .hamburger-container {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 10vw;
    height: 100%;
  }
}
@media screen and (max-width: 1150px) and (max-width: 950px) {
  .header__container header .hamburger-container {
    left: 5.5vw;
  }
}
@media screen and (max-width: 1150px) and (max-width: 580px) {
  .header__container header .hamburger-container {
    left: 2.5rem;
  }
}
@media screen and (max-width: 1150px) {
  .header__container header .hamburger-container .hamburger {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header__container header .hamburger-container .hamburger-line {
    width: 30px;
    height: 3px;
    background-color: #333;
    transition: transform 0.3s, opacity 0.3s;
  }
  .header__container header .header__items-container div {
    display: flex;
    align-items: center;
  }
  .header__container header .header__items-container div:first-of-type img {
    width: 1rem;
    margin: 0 1rem 0 1.5rem;
  }
  .header__container header .header__items-container div:first-of-type span {
    font-weight: 500;
  }
  .header__container header .header__items-container div:last-of-type nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -300px;
    right: 0;
    background-color: #fffaf1;
    transition: top 0.3s;
  }
  .header__container header .header__items-container div:last-of-type nav.active {
    top: 0;
    width: 100%;
    height: 100%;
  }
  .header__container header .header__items-container div:last-of-type nav ul {
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .header__container header .header__items-container div:last-of-type nav ul li:not(:first-child) {
    margin-top: 1rem;
    margin-left: 0;
  }
  .header__container header .header__items-container div:last-of-type .nav__downloadCV {
    position: absolute;
    float: right;
    right: 10vw;
    z-index: -1;
  }
}
@media screen and (max-width: 1150px) and (max-width: 950px) {
  .header__container header .header__items-container div:last-of-type .nav__downloadCV {
    right: 6vw;
  }
}
@media screen and (max-width: 1150px) and (max-width: 580px) {
  .header__container header .header__items-container div:last-of-type .nav__downloadCV {
    right: 2rem;
  }
}

.hero__items-container {
  margin: auto;
  margin-top: 12rem;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__items-container .hero__left-container .hero__text-container {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}
.hero__items-container .hero__left-container .hero__text-container span:last-of-type {
  font-size: 1.9rem;
}
.hero__items-container .hero__left-container .hero__info-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.hero__items-container .hero__left-container .hero__info-container span {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.hero__items-container .hero__left-container .hero__info-container span i {
  margin-right: 1.5rem;
}
.hero__items-container .hero__left-container .hero__info-container span:first-of-type i {
  margin-right: 1.4rem;
}
.hero__items-container .hero__left-container .hero__info-container span:last-of-type i {
  margin-left: 0.2rem;
}
.hero__items-container .hero__left-container .hero__CTA-container button {
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.01rem;
  font-weight: 500;
  transition: 350ms ease-in-out;
}
.hero__items-container .hero__left-container .hero__CTA-container button:first-of-type {
  background-color: #0C3559;
  border: 1px solid #0C3559;
  margin-right: 0.5rem;
}
.hero__items-container .hero__left-container .hero__CTA-container button:first-of-type a {
  color: #fffaf1;
}
.hero__items-container .hero__left-container .hero__CTA-container button:last-of-type {
  background-color: #fffaf1;
  border: 1px solid #0C3559;
}
.hero__items-container .hero__left-container .hero__CTA-container button:last-of-type a {
  color: #0C3559;
}
@media screen and (max-width: 950px) {
  .hero__items-container .hero__left-container {
    margin: auto;
  }
  .hero__items-container .hero__left-container .hero__CTA-container {
    margin: auto;
  }
}
.hero__items-container .hero__right-container img {
  width: 25rem;
}
@media screen and (max-width: 950px) {
  .hero__items-container .hero__right-container img {
    display: none;
  }
}
@media screen and (max-width: 580px) {
  .hero__items-container {
    width: 90%;
  }
}

#about {
  width: 80%;
  background: url(../../../assets/stamp.png) center no-repeat;
  background-size: cover;
  border-radius: 5px;
  margin: 10rem auto 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}
#about .about__items-container {
  border: 1.2px solid #0C3559;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#about .about__items-container img {
  width: 19rem;
  margin: 2.5rem;
}
@media screen and (max-width: 1150px) {
  #about .about__items-container img {
    display: none;
  }
}
#about .about__items-container .about__text-container {
  padding: 2rem 0;
  margin: 0 1rem;
  width: 45%;
}
#about .about__items-container .about__text-container p {
  margin-bottom: 1rem;
}
#about .about__items-container .about__text-container p:first-of-type {
  margin-top: 1rem;
}
@media screen and (max-width: 1150px) {
  #about .about__items-container .about__text-container {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 580px) {
  #about .about__items-container {
    width: 90%;
  }
}
@media screen and (max-width: 1150px) {
  #about {
    margin: 5rem auto;
  }
}
@media screen and (max-width: 580px) {
  #about {
    width: 90%;
  }
}

#portfolio {
  margin: 8rem auto;
}
#portfolio .portfolio__text-container {
  width: 48%;
  margin: auto;
  text-align: center;
  margin-bottom: 1rem;
}
#portfolio .portfolio__text-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
#portfolio .portfolio__text-container div .divider {
  height: 24px;
  width: 1.5px;
  background-color: #0C3559;
  margin: 2rem auto;
}
#portfolio .portfolio__text-container div img {
  width: 1rem;
  margin: 2rem auto;
}
#portfolio .portfolio__text-container p {
  margin-top: 0.5rem;
}
@media screen and (max-width: 1150px) {
  #portfolio .portfolio__text-container {
    width: 60%;
  }
}
@media screen and (max-width: 950px) {
  #portfolio .portfolio__text-container {
    width: 80%;
  }
  #portfolio .portfolio__text-container p {
    width: 100%;
  }
}
#portfolio .portfolio__items-container {
  width: 70%;
  margin: 2rem auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 1150px) {
  #portfolio .portfolio__items-container {
    width: 80%;
  }
}
#portfolio .portfolio__items-container .project {
  display: flex;
  align-items: flex-start;
  margin: 8rem auto 0;
  justify-content: space-evenly;
}
#portfolio .portfolio__items-container .project:first-of-type {
  margin-top: 2.5rem;
}
#portfolio .portfolio__items-container .project a .project__image {
  width: 26rem;
  height: 14rem;
  border-radius: 10px;
  overflow: hidden;
}
#portfolio .portfolio__items-container .project a .project__image img {
  object-fit: cover;
  height: 100%;
  object-position: 50% 50%;
  border-radius: 10px;
}
#portfolio .portfolio__items-container .project a .project__image .project__image-layer {
  display: none;
}
#portfolio .portfolio__items-container .project a:hover .project__image img {
  filter: blur(1px);
  transition: 200ms ease-in-out;
}
#portfolio .portfolio__items-container .project a:hover .project__image .project__image-layer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 25.7rem;
  height: 14rem;
  background-color: #001739;
  opacity: 0.65;
  border-radius: 10px;
  z-index: 1;
  transition: 20ms ease-in-out;
  cursor: pointer;
}
#portfolio .portfolio__items-container .project a:hover .project__image .project__image-layer span {
  display: flex;
  align-items: center;
  opacity: 1;
  font-size: 1.1rem;
  font-weight: 500;
  color: #fffaf1;
  margin: auto;
}
#portfolio .portfolio__items-container .project a:hover .project__image .project__image-layer span i {
  margin-left: 1rem;
  color: #fffaf1;
}
#portfolio .portfolio__items-container .project a:hover .project__image .project__image-layer:hover span {
  opacity: 1;
  font-weight: bold;
  transition: 100ms;
}
#portfolio .portfolio__items-container .project .project-description {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: first baseline;
}
#portfolio .portfolio__items-container .project .project-description span.project {
  font-size: 1.1rem;
  margin: 0;
  margin-bottom: 0.5rem;
}
#portfolio .portfolio__items-container .project .project-description span.project a {
  color: #0C3559;
}
#portfolio .portfolio__items-container .project .project-description span.type-of-project {
  font-weight: 300;
  margin-bottom: 0.5rem;
  opacity: 0.8;
}
#portfolio .portfolio__items-container .project .project-description p {
  font-size: 0.95rem;
  width: 90%;
}
#portfolio .portfolio__items-container .project .project-description .project-tags {
  width: 150%;
  margin-top: 1rem;
}
#portfolio .portfolio__items-container .project .project-description .project-tags span {
  font-size: 0.8rem;
  height: 2rem;
  padding: 0.5rem;
  border: 1px solid #0C3559;
  border-radius: 5px;
  margin-right: 0.5rem;
}
@media screen and (max-width: 1150px) {
  #portfolio .portfolio__items-container .project {
    flex-direction: column;
    display: flex;
    align-items: baseline;
    margin: 4rem auto 0;
  }
  #portfolio .portfolio__items-container .project a {
    margin: auto;
  }
  #portfolio .portfolio__items-container .project a .project__image {
    width: 28.8rem !important;
    height: 15.6rem !important;
  }
}
@media screen and (max-width: 1150px) and (max-width: 950px) {
  #portfolio .portfolio__items-container .project a .project__image {
    width: 22.2rem !important;
    height: 12.4rem !important;
    margin: auto;
  }
  #portfolio .portfolio__items-container .project a .project__image:hover .project__image-layer {
    width: 22.2rem;
    height: 12.4rem;
  }
}
@media screen and (max-width: 1150px) and (max-width: 400px) {
  #portfolio .portfolio__items-container .project a .project__image {
    width: 16rem !important;
    height: 8.7rem !important;
    margin: auto;
  }
  #portfolio .portfolio__items-container .project a .project__image:hover .project__image-layer {
    width: 16rem;
    height: 8.7rem;
  }
}
@media screen and (max-width: 1150px) {
  #portfolio .portfolio__items-container .project .project-description {
    width: 60%;
    margin: 2rem auto;
  }
  #portfolio .portfolio__items-container .project .project-description .project-tags {
    display: none;
  }
}
@media screen and (max-width: 1150px) and (max-width: 950px) {
  #portfolio .portfolio__items-container .project .project-description {
    width: 80%;
  }
}
@media screen and (max-width: 1150px) and (max-width: 580px) {
  #portfolio .portfolio__items-container .project .project-description {
    width: 90%;
  }
}
@media screen and (max-width: 1150px) and (max-width: 400px) {
  #portfolio .portfolio__items-container .project .project-description {
    width: 100%;
  }
}

#contact {
  margin-top: 5rem;
  margin-bottom: 1rem;
}
#contact .section__text-container {
  text-align: center;
  margin: auto;
  width: 50%;
}
@media screen and (max-width: 950px) {
  #contact .section__text-container {
    width: 80%;
  }
}
#contact .form__container {
  width: 80%;
  margin: auto;
}
#contact .form__container form .fieldset__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 1.5rem 0 2rem;
}
#contact .form__container form .fieldset__container fieldset {
  border: 0;
  width: 45%;
}
#contact .form__container form .fieldset__container fieldset:first-of-type {
  display: flex;
  flex-direction: column;
}
#contact .form__container form .fieldset__container fieldset .field {
  margin: 1rem 0 0;
}
#contact .form__container form .fieldset__container fieldset .field .input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: 2px solid rgba(206, 214, 221, 0.4274509804);
  border-radius: 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
}
#contact .form__container form .fieldset__container fieldset .field .input i {
  color: #b6c2cd;
  padding-right: 0.1rem;
}
#contact .form__container form .fieldset__container fieldset .field .input input {
  width: 100%;
  margin: 0 1rem;
  outline: none;
  border: none;
  background-color: #fffaf1;
}
#contact .form__container form .fieldset__container fieldset .field .input input::placeholder {
  color: rgba(12, 53, 89, 0.6784313725);
}
#contact .form__container form .fieldset__container fieldset label {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.5px;
}
#contact .form__container form .fieldset__container fieldset:last-child {
  margin-top: 1rem;
}
#contact .form__container form .fieldset__container fieldset #mensaje {
  width: 100%;
  height: 88%;
  padding: 2rem;
  border-radius: 10px;
  font-size: 14px;
  outline: none;
  border: none;
  border: 2px solid rgba(206, 214, 221, 0.4274509804);
  background-color: #fffaf1;
  margin: 0.5rem 0 0;
  resize: none;
}
#contact .form__container form .fieldset__container fieldset #mensaje::placeholder {
  color: rgba(12, 53, 89, 0.6784313725);
  position: absolute;
}
@media screen and (max-width: 950px) {
  #contact .form__container form .fieldset__container fieldset {
    width: 100%;
  }
  #contact .form__container form .fieldset__container fieldset .field {
    margin: 1rem 0 0;
  }
  #contact .form__container form .fieldset__container fieldset .field .input {
    width: 100%;
  }
  #contact .form__container form .fieldset__container fieldset #mensaje {
    height: 20vh;
  }
}
@media screen and (max-width: 950px) {
  #contact .form__container form .fieldset__container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
#contact .form__container form .cta__container {
  width: fit-content;
  margin: auto;
}
#contact .form__container form .cta__container button.sb_contact-form {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 10px;
  background: #DEE5EA;
  color: #0C3559;
  font-weight: 500;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#contact .form__container form .cta__container button.sb_contact-form i {
  margin-right: 1rem;
}
#contact .form__container form .cta__container button.sb_contact-form:hover {
  transition: 0.2s;
}
@media screen and (max-width: 950px) {
  #contact {
    margin-top: 5rem;
  }
}

footer {
  margin-top: 4rem;
  padding: 1rem 0;
  width: 100%;
  background-color: #DEE5EA;
  color: #DEE5EA;
  font-size: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
}
footer .footer__items-container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer__items-container .footer__icons-container span {
  font-size: 1.3rem;
}
footer .footer__items-container .footer__icons-container span:first-of-type {
  margin-right: 1.5rem;
}
footer .footer__items-container .footer__icons-container span a {
  color: #DEE5EA;
}

/*# sourceMappingURL=styles.css.map */
