.portfolio {
    background-color: #f9f9f9;
    padding: 3rem 0;

    h2 {
        width: fit-content;
        margin: auto;
        font-size: 1.2rem;
        font-weight: 700;
    }

    .projects-container {
        width: 80%;
        margin: 2rem auto;
        display: flex;
        flex-direction: column;
        align-items: self-start;

        .project {
            width: 100%;
            height: 25rem;
            display: flex;
            justify-content: space-between;
            align-items: start;
            margin: auto;
            background-color: white;
            padding: 1.5rem 2rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, .1);
            border-radius: .5rem;

            &:not(:first-child) {
                margin-top: 2rem;
            }

            .project__image {
                width: 65%;
                height: 22rem;
                object-fit: cover;
                object-position: 50% 0;
                overflow: hidden;
                box-shadow: 0 0 10px rgba(0, 0, 0, .1);
                border-radius: 0.4rem;
                transition: object-position ease-in-out 5s;

                &:hover {
                    object-position: 50% 100%;
                }
            }

            .project__right-container {
                width: 30%;
                font-size: .9rem;

                .project__title {
                    font-size: 1.1rem;
                    font-weight: 700;
                    margin: 1rem 0;
                }

                .project__description {
                    margin-top: .3rem;
                }

                .stack {
                    width: 100%;
                    margin: 1rem 0;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    cursor: pointer;

                    span {
                        font-weight: .7rem;
                        width: fit-content;
                        margin: .5rem .5rem 0 0;
                        padding: .5rem .9rem;
                        font-weight: 500;
                        border-radius: .5rem;
                        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
                    }
                }

                .visit-project {
                    width: fit-content;
                    margin: 2rem auto;
                    font-size: 1.4rem;
                    display: flex;
                    align-items: center;

                    a {
                        color: #000000;
                        text-decoration: none;
                    }

                    .live-demo {
                        padding: .5rem 1rem;
                        border-radius: 5px;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        transition: .5s;
                        font-size: 0.8rem;
                        margin-left: 1rem;

                        &:hover {
                            background-color: #d2d2d2;
                        }
                    }
                }
            }

            @include largeBreakpoint {
                height: fit-content;
                flex-direction: column;

                .project__image {
                    width: 100%;
                    height: 15rem;
                }

                .project__right-container {
                    text-align: center;
                    width: 90%;
                    margin: 1.2rem auto;

                    .project__title {
                        font-size: 1.3rem;
                        margin: 1.5rem auto;
                    }

                    .project__description,
                    .stack {
                        width: 80%;
                    }

                    .project__description {
                        margin: 1.2rem auto;
                    }

                    .stack {
                        margin: 0 auto 2rem;
                    }

                    .visit-project {
                        margin: 0 auto;
                    }
                }
            }

            @include medBreakpoint {
                .project__right-container {

                    .project__description,
                    .stack {
                        width: 90%;
                    }
                }
            }

            @include smBreakpoint {
                .project__right-container {

                    .project__description,
                    .stack {
                        font-size: .8rem;
                    }

                    .project__description {
                        width: 100%;
                    }

                    .stack {
                        width: 80%;
                    }
                }
            }
        }

        @include smBreakpoint {
            width: 90%;
        }
    }
}