#about {
    width: 80%;
    background: url(../../../assets/stamp.png) center no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin: 10rem auto 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;

    .about__items-container {
        border: 1.2px solid $content;
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        img {
            width: 19rem;
            margin: 2.5rem;

            @include largeBreakpoint {
                display: none;
            }
        }

        .about__text-container {
            padding: 2rem 0;
            margin: 0 1rem;
            width: 45%;

            p {
                margin-bottom: 1rem;

                &:first-of-type {
                    margin-top: 1rem;
                }
            }

            @include largeBreakpoint {
                width: 100%;
                text-align: center;
            }
        }

        @include smBreakpoint {
            width: 90%;
        }
    }

    @include largeBreakpoint {
        margin: 5rem auto;
    }

    @include smBreakpoint {
        width: 90%;
    }
}