.hero__items-container {
    margin: auto;
    margin-top: 12rem;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .hero__left-container {
        .hero__text-container {
            display: flex;
            flex-direction: column;
            font-size: 2rem;

            span:last-of-type {
                font-size: 1.9rem;
            }
        }

        .hero__info-container {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;

            span {
                margin-bottom: 1rem;
                font-size: 1.2rem;

                i {
                    margin-right: 1.5rem;
                }

                &:first-of-type {
                    i {
                        margin-right: 1.4rem;
                    }
                }

                &:last-of-type {
                    i {
                        margin-left: .2rem;
                    }
                }
            }
        }

        .hero__CTA-container button {
            padding: .5rem 1.2rem;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1.01rem;
            font-weight: 500;
            transition: 350ms ease-in-out;

            &:first-of-type {
                background-color: $content;
                border: 1px solid $content;
                margin-right: .5rem;

                a {
                    color: $primary-color;
                }
            }

            &:last-of-type {
                background-color: $primary-color;
                border: 1px solid $content;

                a {
                    color: $content;
                }
            }
        }

        @include medBreakpoint {
            margin: auto;

            .hero__CTA-container {
                margin: auto;
            }
        }
    }

    .hero__right-container img {
        width: 25rem;

        @include medBreakpoint {
            display: none;
        }
    }

    @include smBreakpoint {
        width: 90%;
    }
}