.header__container {
    width: 100%;
    height: 12%;
    background-color: $primary-color;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 10;
    box-shadow: 0 2px 2px rgba(146, 146, 146, 0.1);
    transition: .4s;

    header {
        width: 100%;

        .hamburger-container {
            position: absolute;
            display: none;

            input#burger {
                display: none;
            }

            input#burger:checked+label[for=burger] span:first-child {
                opacity: 1;
                transform: rotate(45deg) translate(7px, 7px);
            }

            input#burger:checked+label[for=burger] span:nth-child(2) {
                opacity: 0;
            }

            input#burger:checked+label[for=burger] span:last-child {
                opacity: 1;
                transform: rotate(-45deg) translate(1.5px, -3px);
            }


            label[for=burger] {
                position: fixed;
                height: 20px;
                width: 20px;
                z-index: 5;
                overflow: hidden;

                .hamburger-line {
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    top: 50%;
                    margin-top: -1px;
                    left: 0;
                    display: block;
                    background: $content;
                    transition: .5s;

                    &:first-child {
                        top: 3px;
                    }

                    &:last-child {
                        top: 16px;
                    }
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .header__items-container {
            width: 80%;
            height: auto;
            margin: auto;
            z-index: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;

            div {
                display: flex;
                align-items: center;

                &:first-of-type {
                    img {
                        width: 1.2rem;
                        margin-right: 1rem;
                    }

                    @include largeBreakpoint {
                        img {
                            display: none;
                        }

                        span {
                            margin-left: 2.5rem;

                            @include medBreakpoint {
                                margin-left: .5rem;
                            }

                            @include smBreakpoint {
                                display: none;
                            }
                        }
                    }
                }

                &:last-of-type {
                    nav {
                        ul {
                            list-style: none;
                            margin-bottom: 0;
                            padding: 0;

                            li {
                                display: inline-block;
                                font-size: .9rem;
                                letter-spacing: -1px;

                                a {
                                    font-weight: 500;
                                    color: $content;
                                    text-decoration: none;
                                    padding-right: .1rem;

                                    &.current {
                                        font-weight: bold;
                                    }
                                }

                                &:not(:first-child) {
                                    margin-left: 2rem;
                                }
                            }
                        }
                    }

                    .nav__downloadCV {
                        padding: .4rem 1.2rem;
                        margin-left: 2rem;
                        border-radius: 5px;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        background-color: $gray;
                        transition: 350ms ease-in-out;

                        a {
                            font-size: .8rem;
                            font-weight: 500;
                            color: $content;
                            text-decoration: none;
                            display: flex;
                            align-items: center;

                            i {
                                margin-left: .8rem;
                            }
                        }

                        &:hover {
                            background-color: #EBEBEB;
                        }
                    }
                }
            }
        }

        @include largeBreakpoint {
            .hamburger-container {
                position: absolute;
                display: flex;
                align-items: center;
                top: 0;
                left: 10vw;
                height: 100%;

                @include medBreakpoint {
                    left: 5.5vw;
                }

                @include smBreakpoint {
                    left: 2.5rem;
                }

                .hamburger {
                    width: 30px;
                    height: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    &-line {
                        width: 30px;
                        height: 3px;
                        background-color: #333;
                        transition: transform 0.3s, opacity 0.3s;
                    }
                }
            }

            .header__items-container {
                div {
                    display: flex;
                    align-items: center;

                    &:first-of-type {
                        img {
                            width: 1rem;
                            margin: 0 1rem 0 1.5rem;
                        }

                        span {
                            font-weight: 500;
                        }
                    }

                    &:last-of-type {
                        nav {
                            display: flex;
                            flex-direction: column;
                            position: fixed;
                            top: -300px;
                            right: 0;
                            background-color: $primary-color;
                            transition: top 0.3s;

                            &.active {
                                top: 0;
                                width: 100%;
                                height: 100%;
                            }

                            ul {
                                padding: 0;
                                display: flex;
                                align-items: center;
                                flex-direction: column;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);

                                li:not(:first-child) {
                                    margin-top: 1rem;
                                    margin-left: 0;
                                }
                            }
                        }

                        .nav__downloadCV {
                            position: absolute;
                            float: right;
                            right: 10vw;
                            z-index: -1;

                            @include medBreakpoint {
                                right: 6vw;
                            }

                            @include smBreakpoint {
                                right: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}