#portfolio {
    margin: 8rem auto;

    .portfolio__text-container {
        width: 48%;
        margin: auto;
        text-align: center;
        margin-bottom: 1rem;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;

            .divider {
                height: 24px;
                width: 1.5px;
                background-color: $content;
                margin: 2rem auto;
            }

            img {
                width: 1rem;
                margin: 2rem auto;
            }
        }

        p {
            margin-top: .5rem;
        }

        @include largeBreakpoint {
            width: 60%;
        }

        @include medBreakpoint {
            width: 80%;

            p {
                width: 100%;
            }
        }
    }

    .portfolio__items-container {
        width: 70%;
        margin: 2rem auto 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include largeBreakpoint {
            width: 80%;
        }

        .project {
            display: flex;
            align-items: flex-start;
            margin: 8rem auto 0;
            justify-content: space-evenly;

            &:first-of-type {
                margin-top: 2.5rem;
            }

            a {
                .project__image {
                    width: 26rem;
                    height: 14rem;
                    border-radius: 10px;
                    overflow: hidden;

                    img {
                        object-fit: cover;
                        height: 100%;
                        object-position: 50% 50%;
                        border-radius: 10px;
                    }

                    .project__image-layer {
                        display: none;
                    }
                }

                &:hover {
                    .project__image {

                        img {
                            filter: blur(1px);
                            transition: 200ms ease-in-out;
                        }

                        .project__image-layer {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: absolute;
                            width: 25.7rem;
                            height: 14rem;
                            background-color: #001739;
                            opacity: 0.65;
                            border-radius: 10px;
                            z-index: 1;
                            transition: 20ms ease-in-out;
                            cursor: pointer;

                            span {
                                display: flex;
                                align-items: center;
                                opacity: 1;
                                font-size: 1.1rem;
                                font-weight: 500;
                                color: $primary-color;
                                margin: auto;

                                i {
                                    margin-left: 1rem;
                                    color: $primary-color;
                                }
                            }

                            &:hover {
                                span {
                                    opacity: 1;
                                    font-weight: bold;
                                    transition: 100ms;
                                }
                            }
                        }
                    }
                }
            }

            .project-description {
                width: 45%;
                display: flex;
                flex-direction: column;
                align-items: first baseline;

                span.project {
                    font-size: 1.1rem;
                    margin: 0;
                    margin-bottom: .5rem;

                    a {
                        color: $content;
                    }
                }

                span.type-of-project {
                    font-weight: 300;
                    margin-bottom: .5rem;
                    opacity: .8;
                }

                p {
                    font-size: .95rem;
                    width: 90%;
                }

                .project-tags {
                    width: 150%;
                    margin-top: 1rem;

                    span {
                        font-size: .8rem;
                        height: 2rem;
                        padding: .5rem;
                        border: 1px solid $content;
                        border-radius: 5px;
                        margin-right: .5rem;
                    }
                }
            }

            @include largeBreakpoint {
                flex-direction: column;
                display: flex;
                align-items: baseline;
                margin: 4rem auto 0;

                a {
                    margin: auto;

                    .project__image {
                        width: 28.8rem !important;
                        height: 15.6rem !important;

                        @include medBreakpoint {
                            width: 22.2rem !important;
                            height: 12.4rem !important;
                            margin: auto;

                            &:hover {
                                .project__image-layer {
                                    width: 22.2rem;
                                    height: 12.4rem;
                                }
                            }
                        }

                        @include uxsBreakpoint {
                            width: 16rem !important;
                            height: 8.7rem !important;
                            margin: auto;

                            &:hover {
                                .project__image-layer {
                                    width: 16rem;
                                    height: 8.7rem;
                                }
                            }
                        }
                    }
                }

                .project-description {
                    width: 60%;
                    margin: 2rem auto;

                    .project-tags {
                        display: none;
                    }

                    @include medBreakpoint {
                        width: 80%;
                    }

                    @include smBreakpoint {
                        width: 90%;
                    }

                    @include uxsBreakpoint {
                        width: 100%;
                    }
                }
            }
        }
    }
}